{% include 'header_references.html' %}
<!-- Add your content of header -->
{% include 'header_component.html' %}
<!-- Add your site or app content here -->


<title>{% block title %}{% endblock %}  </title>


{% block body %}
  <div class="hero-full-container background-image-container white-text-container"
       style="background-image: url('/static/assets/images/daniel-leone-v7daTKlZzaw-unsplash.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Welcome,<br>
                <div id="typed-strings">
                  <span class="h1">My name is Hosein Vazife</span>
                  <p class="h1"> A Back-End Developer</p>
                    <p class="h1">This is my Portfolio !</p>
              </div>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{% include "footer_references.html" %}
